<div class="page-container">
 
  <!-- Left Image Section -->
<div class="image-section">
<img src="assets/img/doctor.png" alt="Doctor" />
</div>
 
  <!-- Right Form Section -->
<div class="form-section">
 
    <div class="registration-container">
<h2>HEALTHCARE APPOINTMENT<br />MANAGEMENT SYSTEM</h2>
<p class="subtitle">Please enter your details here</p>
 
      <form [formGroup]="itemForm" (ngSubmit)="onRegister()">
 
        <div class="form-group">
<label>Username</label>
<input type="text" formControlName="username" placeholder="Enter username" />
</div>
 
<div class="form-group">
<label>Email address</label>
<input
    type="email"
    formControlName="email"
    placeholder="Enter email"
    [disabled]="emailVerified"
  />
 
  <!-- Verify Email Button -->
<button
    type="button"
    class="verify-btn"
    *ngIf="!showOtpSection"
    (click)="onVerifyEmail()"
    [disabled]="itemForm.get('email')?.invalid"
>
    Verify Email
</button>
</div>
 
<!-- OTP SECTION -->
<div class="form-group" *ngIf="showOtpSection && !emailVerified">
<label>Enter OTP</label>
<input
    type="text"
    placeholder="Enter OTP"
    formControlName="otp"
    name="otp"
  />
 
  <button type="button" class="verify-btn" (click)="verifyOtp()">
    Verify OTP
</button>
</div>
 
<p class="success-msg" *ngIf="emailVerified">
  ✅ Email verified successfully
</p>
 
        <div class="form-group">
<label>Password</label>
<input type="password" formControlName="password" placeholder="Enter password" />
</div>
 
        <div class="form-group">
<label>Role</label>
<select formControlName="role">
<option value="">Select Role</option>
<option value="PATIENT">PATIENT</option>
<option value="DOCTOR">DOCTOR</option>
<option value="RECEPTIONIST">RECEPTIONIST</option>
</select>
</div>
 
        <!-- Doctor-only fields -->
<div *ngIf="itemForm.value.role === 'DOCTOR'">
 
          <div class="form-group">
<label>Availability</label>
<select formControlName="availability">
<option value="">Select</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
</div>
 
          <div class="form-group">
<label>Specialty</label>
<input type="text" formControlName="specialty" placeholder="Enter specialty" />
</div>
 
        </div>
 
        <button type="submit" [disabled]="itemForm.invalid">Submit</button>
 
        <a class="login-link" routerLink="/login">Go to Login</a>
 
        <div *ngIf="showMessage" class="success-msg">
          {{ responseMessage }}
</div>
 
      </form>
</div>
 
  </div>
</div>