<div class="row text-center">
<h1 class="text-capitalize">Healthcare Appointment Management System
</h1>
</div>
<div class="dashboard-container">
<div class="overlay"></div>
 
  <div class="dashboard-card">
<h1>Welcome to</h1>
<h2>Healthcare Management System</h2>
 
    <p class="tagline">
      A smart platform to manage doctors, patients and appointments efficiently.
</p>
 
    <div class="action-buttons">
<button class="login-btn" (click)="goToLogin()">Login</button>
<button class="register-btn" (click)="goToRegister()">Register</button>
</div>
</div>
</div>